/* Space out content a bit */
body {
  width:100%;
  background-color: #ddd;
  font-family: 'Droid Sans', sans-serif;
}

.card {
  position: relative;
  background: #eff0f2;
  border-radius: 6px 6px 6px 6px;
  color: #34495e;
  padding: 0px 0px 0px;
  margin: 10px;
}

.card h2 {
    margin:0px;
    padding-bottom:0px;
}

.card .panel-heading {
  background-color: #1ABC9C;
  color: #ECF0F1;
}

.card p {
    margin:0px;
    padding:10px;
}

/* Customize container */
@media (min-width: 768px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
