/* Space out content a bit */
body {
  width:100%;
  background-color: #ddd;
  font-family: 'Droid Sans', sans-serif;
}

a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 110%; 
  width: 100%;
  position:fixed;
  margin-top: -20px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom:100px;
}

.card {
    border: 0;
    position: relative;
    background: #eff0f2;
    border-radius: 0;
    color: #34495e;
    padding: 0px 0px 0px;
}

.card .panel-heading {
  background-color: #1ABC9C;
  color: #ECF0F1;
  border-radius: 0;
}

.card h2 {
    margin:0px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

.list-group-item:first-child, 
.list-group-item:last-child,
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
  border-radius:0;
}

/* Customize container */
@media (min-width: 768px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
