.navbar {
  z-index: 15;
  border: none;
  height: 60px;
  border: none;
  background-color: #1ABC9C;
}

.navbar-header {
  height: 100%;
  text-align: center;
}
.navbar-brand {
  margin-top: 3px;
  float: none;
  display: block;
  height: 100%;
  max-height: 95%;
  font-size: 24px;
  line-height: 1.3;
  color: #4e5d6c;
}

.navbar-brand img {
  max-height:95%;
  max-width:95%;
}

.navbar-btn {
}

.navbar .btn-link {
  color: #4e5d6c;
}

.navbar i.fa {
  /* Style fa nav buttons to be good touch target size */
  font-size: 30px;
}