nav.st-nav {
	background-color: #34495E;
	color: #ECF0F1;
	overflow-y: hidden;
}

nav.st-nav .search{
	margin: 10px;
	margin-top: 70px;
}

.st-content {
  display: inline;
}

.st-nav .list-group a.list-group-item, 
.st-nav .list-group-item .list-group-item-heading {
	border: 0;
	color: #ECF0F1;
	background-color: #2C3E50;
}

.st-nav .input-group-addon {
	background-color: #34495E;
	border: 0;
	color: #ECF0F1;
}

.st-nav .form-control {
	background-color: #ECF0F1;
	color: #2C3E50;
	border: 0;
}