<div ng-include="'views/nav.html'"></div>
<slidenav>
  <slidenav-menu>
    <div ng-include="'views/sidenav.html'"></div>
  </slidenav-menu>

  <slidenav-content>
    <div class="container cards container-fluid">
      <div ng-include="'views/offline.html'" ng-show="!online"></div>
      <div ng-switch on="selectedScreen">
          <div ng-switch-when="home"><div ng-include="'views/home.html'"></div></div>
          <div ng-switch-when="about"><div ng-include="'views/about.html'"></div></div>
          <div ng-switch-when="settings"><div ng-include="'views/settings.html'"></div></div>
          <div ng-switch-when="profile"><div ng-include="'views/profile.html'"></div></div>
      </div>
    </div>
  </slidenav-content>
</slidenav>
