<div ng-include="'views/nav.html'"></div>
<slidenav>
  <slidenav-menu>
    <div ng-include="'views/sidenav.html'"></div>
  </slidenav-menu>

  <slidenav-content>
    <div class="panel panel-success card">
      <div class="panel-heading">
        This is a card
      </div>
      <div class="panel-body media">
        Cards are popular in mobile applications.
      </div>
    </div>

    <div class="panel panel-success card">
      <div class="panel-heading">
        This is another card
      </div>
      <div class="panel-body media">
        You can swipe cards to the right to dismiss it, or to the left for more information.
      </div>
    </div>
  </slidenav-content>
</slidenav>
